$primary-color:#00366f;
$color-orange: #3a9bae;
$color-darkgreen: #056163;
$bg-loadpage:#ffffff;
$color-white: #ffffff;
$color-black: #000000;
$second-text: #4e5453;
$link-color:#636363;
$link-color-hover:#3a9bae;
$button-primary:#3a9bae;
$menu-fontsize:14px;
$color-menu:#1b2725;
$color-hover-menu:#3a9bae;
$color-hover-background-menu: transparent;
$color-active-menu:#3a9bae;
$color-active-background-menu: transparent;
$color-submenu:#1b2725;
$submenu-background:transparent;
$color-active-submenu:#3a9bae;
$color-hover-submenu:#3a9bae;
$color-active-background-submenu: transparent;
$color-hover-background-submenu: transparent;
$header-transform: uppercase;

@mixin scale($y){
   -webkit-transform: scale($y);
   -moz-transform: scale($y);
   -o-transform: scale($y);
   transform: scale($y);
}
@mixin skew($number){
   -webkit-transform: skew($number);
   -moz-transform: skew($number);
   -ms-transform: skew($number);
   -o-transform: skew($number);
   transform: skew($number);
}
@mixin rotate($number){
    -webkit-transform: rotate($number);
    -moz-transform: rotate($number);
    -ms-transform: rotate($number);
    -o-transform: rotate($number);
    transform: rotate($number);
}

@mixin translate-x($x){
   -webkit-transform: translateX($x);
   -moz-transform: translateX($x);
   -ms-transform: translateX($x);
   -o-transform: translateX($x);
   transform: translateX($x);
}

@mixin translate-y($y){
   -webkit-transform: translateY($y);
   -moz-transform: translateY($y);
   -ms-transform: translateY($y);
   -o-transform: translateY($y);
   transform: translateY($y);
}

@mixin translate-z($z){
   -webkit-transform: translateZ($z);
   -moz-transform: translateZ($z);
   -ms-transform: translateZ($z);
   -o-transform: translateZ($z);
   transform: translateZ($z);
}

@mixin translate-xy($x, $y){
   -webkit-transform: translateX($x) translateY($y);
   -moz-transform: translateX($x) translateY($y);
   -ms-transform: translateX($x) translateY($y);
   -o-transform: translateX($x) translateY($y);
   transform: translateX($x) translateY($y);
}

@mixin transition(){
    transition: all .5s ease;
}
@mixin font-light{
    font-weight: 300;
}

@mixin font-regular{
    font-weight: 400;
}

@mixin font-medium{
    font-weight: 500;
}

@mixin font-semi-bold{
    font-weight: 600;
}

@mixin font-bold{
    font-weight: 700;
}

@mixin font-black{
    font-weight: 900;
}